.main {
    display: flex;

    .left-side {
        width: 50vw;
        height: 100vh;
        padding: 36px;
        overflow-y: scroll;
    }
    
    .right-side {
        width: 50vw;
        background-color: #3d3d3d;
        padding: 36px;

        h1 {
            color: white;
        }
    }
}

.semester-course {
    height: 35px;
    border-radius: 2px;
    padding: 6px;
    color: white;
    background-color: #f4f4f4;
    position: relative;

    input {
        border: none;
        background-color: #f4f4f4;
        color: white;

        &::placeholder {
            color: white;
        }
    }

    .suggestions {
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 10;

        width: 100%;
        background-color: black;
        
        ul {
            padding: 6px;
        }

        li {
            cursor: pointer;
            border-bottom: 1px solid white;
            padding: 3px 0;

            &:last-child {
                border: none;
            }
        }
    }

    // .selected-course p {
    //     height: 22px;
    //     overflow-x: scroll;
    // }

}

.semester {
    width: 47%;
    margin-top: 24px;

    h3 {
        margin-top: 0;
    }

    .course-list {
        .semester-course {
            margin-bottom: 3px;

            .last-child {
                margin-bottom: 0;
            }
        }
    }
}

.schedule-view {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}