.main {
    display: flex;

    .left-side {
        width: 50vw;
        // height: 100vh;
        padding: 36px;
        // overflow-y: scroll;
    }

    .right-side {
        width: 50vw;
        background-color: #f1f1f1;
        padding: 36px;

        h1 {
            color: white;
        }
    }
}

.semester-course {
    display: flex;
    height: 40px;
    border-radius: 2px;
    padding: 6px;
    color: white;
    background-color: #f4f4f4;
    position: relative;

    input {
      flex: 1;
        margin: auto 0;
        border: none;
        background-color: #f4f4f4;
        color: white;

        &::placeholder {
            color: white;
        }
    }

    .suggestions {
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 10;

        width: 100%;
        background-color: black;

        ul {
            padding: 6px;
        }

        li {
            cursor: pointer;
            border-bottom: 1px solid white;
            padding: 3px 0;

            &:last-child {
                border: none;
            }
        }
    }

    .selected-course {
      flex: 1;
      display: flex;

      div {
        flex: 1;
      }
    }

}

.semester {
    width: 47%;
    margin-top: 24px;

    h3 {
        margin-top: 0;
    }

    .course-list {
        .semester-course {
            margin-bottom: 3px;
            .selected-course>div {
              margin: auto 0;
              display: flex;
              * {
                margin: auto 0;
              }
              img {
                margin-left: auto;
                width: 25px;
                height: 25px;
                cursor: pointer;
                border-radius: 50%;
                transition: box-shadow 0.3s;
              }

              img:hover {
                box-shadow: 0 0 0 2px black;
              }
            }
            .last-child {
                margin-bottom: 0;
            }
        }
    }
}

.schedule-view {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
