.user-info {
  display: flex;
  flex-direction: column;
}

.user-info>p {
  margin-top: 20px;
  margin-bottom: 5px;
}

.user-info>button {
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  padding: 10px;
}
